@*@{
    Layout = "/Views/_Layout.cshtml";
}*@
@model CartSummaryViewModel
<h2>Sepetiniz</h2>
<table class="border table-bordered">
    <thead>
        <tr>
            
            <th>Ürün Adı</th>
            <th>Stok durumu </th>
            <th>Fiyat</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Cart.CartLines)
    {
        <tbody>
            <tr>
                
                <td>@item.Product.ProductName</td>
                <td>@item.Product.Quantity</td>
                <td>@item.Product.UnitPrice</td>
                
               
                <td><a class="btn btn-xs btn-danger" asp-action="SepettenSil" asp-controller="Cart" asp-route-id="@item.Product.Id">Sepetten Sil</a></td>
               
            </tr>
           
           
        </tbody>
       
    }
    
</table>
<h3>Total</h3>
<h3><strong>@Model.Cart.Total TL</strong></h3>
<a class="btn btn-xs btn-success" asp-action="Listele" asp-controller="Product">Alışverişe devam et</a>
<a class="btn btn-xs btn-success" asp-action="AlisverisTamamla" asp-controller="Cart">Alışverişi Tamamla</a>